<h1>Welcome to Boozeoisie</h1>

<h3>What would you like to do?</h3>

<p><a href="/author/index">Search for booze by author</p></a>

<p><a href="/novel/index">Search for booze by novel</p></a>

<p><a href="/alcohol/index">Search for booze by kind of booze</a></p>

<p>Learn more about Boozeogisie</p>
