<h1>Boozeoisie</h1>

<% get_booze('alcohol.txt') %>
<% get_novel('Madame Bovary', 'Gustave Flaubert','bovary.txt') %>
<% find_booze %>

<h2>"<%= @name %>" </h2>
<h3>By <%= @author %></h3>
<div>
<% @has_booze.each do |i| %>
<% binding.pry %>
<li><%= i %></li>
</div>
<% end %>
