<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Historical booze</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="pic">
  <img src="drinking.jpg"></img>
</div>
    <%= yield %>

</body>
</html>
