<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>Historical booze</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <img src="drinking.jpg"></img>

    <%= yield %>

</body>
</html>
