li {
  list-style: none;
  font-family: Optima, sans-serif;
  margin-left: 0;
  margin-right: 10%;
  margin-top: .5em;
  margin-bottom: .5em;
}

h1 {
  font-family: Hoefler Text,serif;
  font-size: 48px;
}

h2, h3 {
  font-family: Optima, sans-serif;
}

a:link {
  color: slate grey;
}
